<html lang="en">
<body>
  <meta charset="UTF-8">
  {% if static_query_deltas %}
    <h3>Updates to your <a href="{{ static_tab_link }}">static
      queries</a></h3>
    <ul>
    {% for english_query, detailed_query_link, model, model_type in
    static_query_deltas %}
      <li>"{{ english_query }}" in {{ model }} using the {{ model_type }}
        model type. For details click
        <a href="{{ detailed_query_link }}">here</a>.</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if dynamic_query_deltas %}
    <h1>Updates to your <a href="{{ dynamic_tab_link }}">dynamic
      queries</a></h1>
    <ul>
    {% for english_query, model, model_type in dynamic_query_deltas %}
      <li>"{{ english_query }}" in {{ model }} using the {{ model_type }}
        model type</li>
    {% endfor %}
    </ul>
  {% endif %}
  <footer>
    <small>
      <p>If you wish to unsubscribe from future notifications, click on the
      following link:<br><a href="{{ unsub_link }}">{{ unsub_link }}</a></p>
    </small>
  </footer>
</body>
</html>