{% from "path_macros.html" import path_card %}

{% macro agent_tab(agent=None, agent_stats=None) -%}
<!-- Belief range code adapted from https://stackoverflow.com/questions/4753946/html5-slider-with-two-inputs-possible -->

<div class="container">
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Agent Selection</h4>
    </div>
    <div class="card-body">
      <!-- agent -->
      <div class="col" style="padding-right: 2px; width: 300px; padding-top: 20px;">
        {% if agent %}
        <input class="form-control" id="agentStatsSelect" type="text" name="agentStatsText" placeholder="Enter agent" value="{{ agent }}">
        {% else %}
        <input class="form-control" id="agentStatsSelect" type="text" name="agentStatsText" placeholder="Enter agent">
        {% endif %}
        <button class="btn btn-outline-secondary" style="position: absolute; top: 20px; left: 350px;" onClick="filterAgent(document.getElementById('agentStatsSelect').value)" type="button">Generate agents stats</button>
      </div>
    </div>
  </div>
</div>

{%- endmacro %}