{% from "path_macros.html" import path_card %}

{% macro dynamic_tab(description, model_data, immediate_dynamic_results, subscribed_dynamic_results, dynamic_immediate_headers, subscribed_dynamic_headers, latest_query=None) -%}
  <!-- Dynamic queries -->
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Description</h4>
      </div>
      <div class="card-body">
        {{ description['dynamic'] }}
      </div>
    </div>
  </div>
  <div class="container" id="dynamic-container" style="margin-top: 50px;">

    <div class="card">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Query specification</h4>
      </div>
      <div class="card-body">

        <!-- model selection -->
        <h6><b>Model selection</b></h6>
        <div class="checkbox-container">
          <div class="form-select">
            <select name="dynamic-select" id="dynamic-select" placeholder="Select model" multiple>
            {% for model_id, config_json in model_data %}
            {% if 'query' in config_json and 'dynamic' in config_json['query'] %}
              {% if latest_query and latest_query['query_json']['queryType'] == 'dynamic' and model_id in latest_query['models'] %}
              <option value="{{ model_id }}" selected="{{ model_id }}">{{ config_json.human_readable_name }}</option>
              {% else %}
              <option value="{{ model_id }}">{{ config_json.human_readable_name }}</option>
              {% endif %}
            {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>

        <!-- stmt type select -->
        <h6 style="padding-top: 20px;"><b>Query selection</b></h6>
        <div class="form-container" style="display: inline-block; vertical-align: top;">
          <div class="text" style="display: table;">
            <form onsubmit="postQuery(document.getElementById('dynamic-container')); return false;">
              <div class="row" style="align-items: center">
                <!-- agent -->
                <div class="col" style="padding-right: 2px">
                  {% if latest_query and latest_query['query_json']['queryType'] == 'dynamic' %}
                  <input class="form-control" id="agentInput" type="text" name="agentText" style="width: 400px;" placeholder="Enter agent description" value="{{ latest_query['query_json']['agentSelection'] }}">
                  {% else %}
                  <input class="form-control" id="agentInput" type="text" name="agentText" style="width: 400px;" placeholder="Enter agent description">
                  {% endif %}
                </div>
                <div class="dropdown col" style="display: table-cell; padding-right: 2px">
                  <!-- WARNING: The id of the select tag goes into the query dictionary, do NOT change it unless it is
                    changed in the rest API and query handling -->
                  <select onchange="checkPattern()" class="custom-select" style="width: 300px;" id="patternSelection">
                    <option value="" selected="selected" disabled="disabled" hidden="hidden">select pattern type</option>
                    {% for pattern_type in ['always_value', 'no_change', 'eventual_value', 'sometime_value', 'sustained', 'transient'] %}
                    {% if latest_query and latest_query['query_json']['queryType'] == 'dynamic' and latest_query['query_json']['patternSelection'] == pattern_type %}
                    <option value="{{ pattern_type }}" selected="{{ pattern_type }}">{{ pattern_type }}</option>
                    {% else %}
                    <option value="{{ pattern_type }}">{{ pattern_type }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="dropdown col" style="display: table-cell; padding-right: 2px; width: 300px;">
                  <!-- WARNING: The id of the select tag goes into the query dictionary, do NOT change it unless it is
                    changed in the rest API and query handling -->
                  <select class="custom-select" id="valueSelection">
                    <option value="" selected="selected" disabled="disabled" hidden="hidden">select value</option>
                    {% for val in ['high', 'low'] %}
                    {% if latest_query and latest_query['query_json']['queryType'] == 'dynamic' and latest_query['query_json']['valueSelection'] == val %}
                    <option value="{{ val }}" selected="{{ val }}">{{ val }}</option>
                    {% else %}
                    <option value="{{ val }}">{{ val }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if latest_query and latest_query['query_json']['queryType'] == 'dynamic' and latest_query['query_json']['patternSelection'] %}
                  <script>checkPattern();</script>
                  {% endif %}
                </div>
              </div>
              <!-- formsubmit -->
              <div class="row">
                <div class="container">
                  <input class="btn btn-query-submit" style="margin-top: 2px" type="submit" text="Submit query" name="dynamic-query-submit" id="dynamic-query-submit">
                  <input type="checkbox" name="register" style="margin-top: 20px" id="register-dynamic-query" style="padding-top: 3000px;"><label
                  for="register-dynamic-query">  Subscribe To Query</label>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="container">
          <div class="container">
            <div id="dynamic-query-status-gif" style="display: none;">
              <img src="https://indralab.github.io/emmaa/emmaa_service/dashboard/images/ajax-loader.gif">
            </div>
            <span><i id="dynamic-query-status"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    {{ path_card(immediate_dynamic_results, 'Query Results', 'dynamic-query-results', dynamic_immediate_headers, 'dynQueryResults') }}
  </div>
  <div class="container" style="margin-top: 50px;">
    {{ path_card(subscribed_dynamic_results, 'Subscribed Queries', 'dynamic-user-queries', subscribed_dynamic_headers, 'dyn-old-results') }}
  </div>
{%- endmacro %}