{% from "path_macros.html" import path_card %}

{% macro figure_tab(fig_list, source, include_figures) -%}
  {% if include_figures %}
    {% if fig_list %}
      {% for figure in fig_list %}
        {% if figure|length == 3 %}
          {% set urls, fig_title, fig_bytes = figure %}
          {% for url in urls %}
            <a href="{{ url }}">View paper</a>
          {% endfor %}
          <br>
        {% else %}
          {% set fig_title, fig_bytes = figure %}
        {% endif %}
        <br>
        {% if fig_title %}
        {{ fig_title }}
        <br>
        {% endif %}
        <img src="data:image/jpg;base64, {{ fig_bytes }}" style="max-width: 50vw; max-height: 60vh;">
        <br>
        <hr class="solid" style="border-top: solid 5px;">
      {% endfor %}
    {% else %}
      {% if source == 'paper' %}
        Could not get any figures and tables for this paper
      {% else %}
        Could not get any figures and tables for this statement
      {% endif %}
    {% endif %}
  {% else %}
  <div class="card-body">
    {% if source == 'paper' %}
    Click this button to load figures and tables for this paper:
    {% else %}
    Click this button to load figures and tables for this statement:
    {% endif %}
  <button class="btn btn-outline-secondary p-2" style="position: relative; left: 15px" onClick="redirectOneArgument('true', 'figures')" type="button">Load Figures</button>
  </div>
  {% endif %}
{%- endmacro %}