{% from "path_macros.html" import path_card, path_table %}

{% macro model_tab(model_info_contents, exp_formats, model_stats_json, model, stmts_counts, date, added_stmts, subscription) -%}
<!-- This table displays model data -->
  <div class="container">
    <div class="card" id="modelInfoTable">
      <div class="card-header">
        {% set logged_in, subscribe, url = subscription %}
        {% if logged_in %}
          <h4 class="my-0 font-weight-normal">Model Info
            <button class="btn btn-outline-secondary" style="font-size: medium; float: right"onClick="subscribe_model('{{ url }}', '{{ subscribe }}')" type="button">{% if subscribe %}Subscribe{% else %}Unsubscribe{% endif %}</button>
            <button class="btn btn-outline-secondary" style="font-size: medium; float: right; margin-right: 5px"href="{{ url_for('chat_with_the_model', model=model_id) }}" target="_blank" title="Chat with this model">Chat</button>
            <span><i id="model-subscription-status" style="word-break:break-word; float: right;"></i></span>
          </h4>
        {% else %}
          <h4 class="my-0 font-weight-normal" style="float: left">Model Info</h4>
          <button class="btn btn-outline-secondary" style="font-size: medium; float: right" href="{{ url_for('chat_with_the_model', model=model_id) }}" target="_blank" title="Chat with this model">Chat</button>
          <span style="font-size: medium; float: right; margin-right: 10px; margin-top: 8px;">(Log in and refresh to see if you're subscribed to this model)</span>
        {% endif %}
      </div>
      <div class="card-body">
        {{ path_table(model_info_contents, ["Item", "Details"], modelInfoTableBody) }}
      </div>
    </div>
  {% if exp_formats %}
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Download as</h4>
    </div>
    <div class="card-body">
    {% for exp_f, link in exp_formats.items() %}
    <a href='{{ link }}' download>
      <button class="btn btn-outline-secondary" type="button">{{ exp_f }}</button>
    </a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Statement Types Distribution</h4>
    </div>
    <div class="card-body">
    <div class="container" id="modelTestResultBody"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Top 10 Agents</h4>
    </div>
    <div class="card-body">
    <div class="container" id="agentDistr"></div>
    </div>
  </div>
  {% if 'sources' in model_stats_json['model_summary'] %}
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Knowledge Sources</h4>
    </div>
    <div class="card-body">
    <div class="container" id="sourceDistr"></div>
    </div>
  </div>
  {% endif %}
  {% set show_all = url_for('get_all_statements_page', model=model, sort_by='evidence', page=1, filter_curated=false, date=date) %}
  <div class="card" id="stmtEvidence">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Most Supported Statements<button class="btn btn-outline-secondary" onClick='window.open("{{ show_all }}", target="_blank")' style="position: absolute; right: 10px; top: 1.1%" type="button">View All Statements</button></h4>
    </div>
    <div class="card-body">
      {{ path_table(stmts_counts, ["Statement", "Evidence Count"], "stmtEvidenceTable") }}
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4 class="my-0 font-weight-normal">Number of Statements over Time</h4>
    </div>
    <div class="card-body">
    <div class="container" id="stmtsOverTime"></div>
    </div>
  </div>
  {{ path_card(added_stmts, "New Added Statements", "addedStmts", ["Statement"], "addedStmtsTable") }}
  </div>
{%- endmacro %}