{% from "path_macros.html" import path_card %}

{% macro paper_tab(paper_distr, new_papers) -%}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Description</h4>
      </div>
      <div class="card-body">
        This tab contains information about publications from which the model
        statements were extracted. The first plot shows the number of processed
        papers and the number of papers that support the model statements over
        time. Many papers do not produce any statements and the extracted raw
        statements go through a filtering and assembly process resulting in the
        numbers being different. Scroll further to see the titles of papers
        producing the largest number of statements and a list of newly
        processed papers. Click on the paper title to view the statements
        extracted from that paper. Click on the link in the second column to
        view the original publication and click on the “h.” badge to annotate
        the paper and view the publication text with evidence for statements
        highlighted.
      </div>
    </div>
    <div class="card">
      <div class="card-header">
      <h4 class="my-0 font-weight-normal">Number of Papers over Time</h4>
      </div>
      <div class="card-body">
      <div class="container" id="papersOverTime"></div>
      </div>
    </div>
    {{ path_card(paper_distr, "Papers with Largest Number of Statements", "paperStmt", ["Paper Title", "Link", "Statement Count"], "paperStmtTable") }}
    {{ path_card(new_papers, "New Papers", "newPaperStmt", ["Paper Title", "Link", "Assembled Statements", "Raw Statements"], "newPaperStmtTable") }}
  </div>
{%- endmacro %}