{% extends "emmaa_page_template.html" %}

{% block body %}
<div class="container">
    <h3>Demos and talks</h3>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/WI-NnFEXY_Y"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen class="float-left">
    </iframe>
    <p>
      <b>Self-updating and self-testing causal models to accelerate drug discovery in Neurofibromatosis</b>
        (<a href="https://zenodo.org/record/4267215/files/2020-11-12_gyori_disease_maps_poster.pdf?download=1">poster</a>)
    </p>
    <div style="clear: both;"></div>
    <p>&nbsp;</p>

    <iframe width="280" height="157" src="https://www.youtube.com/embed/N_LP4XSeQXg"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="float-left">
    </iframe>
    <p>
        <b>A machine-built self-updating model of COVID-19 disease mechanisms</b>
    </p>
    <div style="clear: both;"></div>
    <p>&nbsp;</p>

    <iframe width="280" height="157" src="https://www.youtube.com/embed/IoRFm2WwnX4"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="float-left">
    </iframe>
    <p>
        <b>Introduction to the EMMAA Dashboard</b>
    </p>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
{% endblock %}
