{% extends "emmaa_page_template.html" %}

{% block body %}
<div class="container">
    <h3>Demos, talks and posters about EMMAA</h3>
    <ul>
        <li>
            Demo of the EMMAA Dashboard (<a href="https://sorger.med.harvard.edu/data/bgyori/emmaa_dashboard_intro.mov">video</a>)
        </li>
        <li>
        A machine-built self-updating model of COVID-19 mechanisms
            (<a href="https://zenodo.org/record/4267215/files/2020-11-12_gyori_disease_maps_poster_talk.mp4?download=1">video</a>,
            <a href="https://zenodo.org/record/4267215/files/2020-11-12_gyori_disease_maps_poster.pdf?download=1">poster</a>)
        </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
{% endblock %}
