{% extends "emmaa_page_template.html" %}
{% from "tabs/model_tab.html" import model_tab %}
{% from "tabs/tests_tab.html" import test_tab %}
{% from "tabs/paper_tab.html" import paper_tab %}
{% from "tabs/curation_tab.html" import curation_tab %}

{% block additional_scripts %}
<script>
  let model = '{{ model }}';

  $(document).ready(function(){
    console.log('document ready');
    let ddSelectTag = document.getElementById('modelSelectDD');
    setModel(ddSelectTag, model);

    let testResultsTableBody = document.getElementById('modelTestResultBody');

    populateTestResultTable(testResultsTableBody, {{ model_stats_json|safe }}, {{ test_stats_json|safe }});
  });
</script>
<style>
  body > .container {
    padding: 85px 15px 0;
  }
</style>
{% endblock %}

{% block extend_header %}
<!-- Model select dropdown -->
<div class="input-group-append">
  {% if not latest_date == date %}
  <button class="btn btn-outline-secondary" onClick="redirectToDate('{{ latest_date }}')" type="button">Go to Latest</button>
  {% endif %}
</div>
<div class="d-inline-flex p-2 input-group" style="width: 410px;">
  <select class="custom-select" id="modelSelectDD" aria-label="Example select with button addon">
    <option selected disabled hidden>Select model...</option>
    {% for model_id, model_meta in model_data %}
      {% if model_id == model %}
        <option selected value="{{ model_id }}">{{ model_meta['human_readable_name'] }} ({{ model_id.upper() }})</option>
      {% else %}
        <option value="{{ model_id }}">{{ model_meta['human_readable_name'] }} ({{ model_id.upper() }})</option>
      {% endif %}
    {% endfor %}
  </select>
  <!-- selectModel(modelInfoTableBody, listTestResultsTableBody, testResultTableBody, ddSelect) -->
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" onClick="modelRedirect(document.getElementById('modelSelectDD'), '{{ model }}')" type="button">Load Model</button>
  </div>
</div>
{% endblock %}

{% block body %}
  <!-- Tabs -->
<div class="container nav-container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% if tab == 'model' %}
      <a class="nav-item nav-link active" id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab" aria-controls="nav-model" aria-selected="true">Model</a>
      <a class="nav-item nav-link" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="false">Tests</a>
      <a class="nav-item nav-link" id="nav-papers-tab" data-toggle="tab" href="#nav-papers" role="tab" aria-controls="nav-papers" aria-selected="false">Papers</a>
      <a class="nav-item nav-link" id="nav-curation-tab" data-toggle="tab" href="#nav-curation" role="tab" aria-controls="nav-curation" aria-selected="false">Curation</a>
      {% elif tab == 'tests' %}
      <a class="nav-item nav-link" id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab" aria-controls="nav-model" aria-selected="false">Model</a>
      <a class="nav-item nav-link active" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="true">Tests</a>
      <a class="nav-item nav-link" id="nav-papers-tab" data-toggle="tab" href="#nav-papers" role="tab" aria-controls="nav-papers" aria-selected="false">Papers</a>
      <a class="nav-item nav-link" id="nav-curation-tab" data-toggle="tab" href="#nav-curation" role="tab" aria-controls="nav-curation" aria-selected="false">Curation</a>
      {% elif tab == 'papers' %}
      <a class="nav-item nav-link" id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab" aria-controls="nav-model" aria-selected="false">Model</a>
      <a class="nav-item nav-link" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="false">Tests</a>
      <a class="nav-item nav-link active" id="nav-papers-tab" data-toggle="tab" href="#nav-papers" role="tab" aria-controls="nav-papers" aria-selected="true">Papers</a>
      <a class="nav-item nav-link" id="nav-curation-tab" data-toggle="tab" href="#nav-curation" role="tab" aria-controls="nav-curation" aria-selected="false">Curation</a>
      {% elif tab == 'curation' %}
      <a class="nav-item nav-link" id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab" aria-controls="nav-model" aria-selected="false">Model</a>
      <a class="nav-item nav-link" id="nav-tests-tab" data-toggle="tab" href="#nav-tests" role="tab" aria-controls="nav-tests" aria-selected="false">Tests</a>
      <a class="nav-item nav-link" id="nav-papers-tab" data-toggle="tab" href="#nav-papers" role="tab" aria-controls="nav-papers" aria-selected="false">Papers</a>
      <a class="nav-item nav-link active" id="nav-curation-tab" data-toggle="tab" href="#nav-curation" role="tab" aria-controls="nav-curation" aria-selected="true">Curation</a>      
      {% endif %}  
    </div>
  </nav>
</div>
<div class="tab-content" id="nav-tabContent">
  {% if tab == 'model' %}
  <div class="tab-pane fade show active" id="nav-model" role="tabpanel" aria-labelledby="nav-model-tab">
  {% else %}
  <div class="tab-pane" id="nav-model" role="tabpanel" aria-labelledby="nav-model-tab">
  {% endif %}

  <!-- Model stuff goes here -->
  {{ model_tab(model_info_contents, exp_formats, model_stats_json, model, stmts_counts, date, added_stmts) }}

  </div>
  {% if tab == 'tests' %}
  <div class="tab-pane fade show active" id="nav-tests" role="tabpanel" aria-labelledby="nav-tests-tab">
  {% else %}
  <div class="tab-pane fade" id="nav-tests" role="tabpanel" aria-labelledby="nav-tests-tab">  
  {% endif %}
  
  <!-- Test stuff goes here -->
  {{ test_tab(available_tests, test_corpus, test_info_contents, model_types, new_applied_tests, new_passed_tests, all_test_results) }}

  </div>
  {% if tab == 'papers' %}
  <div class="tab-pane fade show active" id="nav-papers" role="tabpanel" aria-labelledby="nav-papers-tab">
  {% else %}
  <div class="tab-pane fade" id="nav-papers" role="tabpanel" aria-labelledby="nav-papers-tab">  
  {% endif %}

  {{ paper_tab() }}

  </div>
  {% if tab == 'curation' %}
  <div class="tab-pane fade show active" id="nav-curation" role="tabpanel" aria-labelledby="nav-curation-tab">
  {% else %}
  <div class="tab-pane fade" id="nav-curation" role="tabpanel" aria-labelledby="nav-curation-tab">  
  {% endif %}

  {{ curation_tab() }}

</div>
{% endblock %}