{% extends "emmaa_page_template.html" %}
{% from "tabs/static_query_tab.html" import static_tab %}
{% from "tabs/dynamic_query_tab.html" import dynamic_tab %}
{% from "tabs/open_query_tab.html" import open_tab %}

{% block additional_scripts %}
  <script src="{{ url_for('static', filename='queryFunctions.js') }}"></script>
  <script>
    $(document).ready(function() {
      let modelSelect = new Choices('#static-select');
    })
    $(document).ready(function() {
      let modelSelect = new Choices('#intervention-select');
    })
    $(document).ready(function() {
      let modelSelect = new Choices('#dynamic-select');
    })
    $(document).ready(function() {
      let modelSelect = new Choices('#open-select');
    })
    $(document).ready(function() {
      let ns = new Choices('#ns-select');
    })
  </script>
{% endblock %}

{% block body %}
<style>
  label {
    margin-bottom: 0;
  }
</style>
<div class="container nav-container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% if tab == 'static' %}
      <a class="nav-item nav-link active" id="nav-static-tab" data-toggle="tab" href="#nav-static" role="tab" aria-controls="nav-static" aria-selected="true">Source-target paths</a>
      <a class="nav-item nav-link" id="nav-intervention-tab" data-toggle="tab" href="#nav-intervention" role="tab" aria-controls="nav-intervention" aria-selected="false">Source-target dynamics</a>
      <a class="nav-item nav-link" id="nav-dynamic-tab" data-toggle="tab" href="#nav-dynamic" role="tab" aria-controls="nav-dynamic" aria-selected="false">Temporal properties</a>
      <a class="nav-item nav-link" id="nav-open-tab" data-toggle="tab" href="#nav-open" role="tab" aria-controls="nav-open" aria-selected="false">Up/down-stream paths</a>
      {% elif tab == 'open' %}
      <a class="nav-item nav-link" id="nav-static-tab" data-toggle="tab" href="#nav-static" role="tab" aria-controls="nav-static" aria-selected="false">Source-target paths</a>
      <a class="nav-item nav-link" id="nav-intervention-tab" data-toggle="tab" href="#nav-intervention" role="tab" aria-controls="nav-intervention" aria-selected="false">Source-target dynamics</a>
      <a class="nav-item nav-link" id="nav-dynamic-tab" data-toggle="tab" href="#nav-dynamic" role="tab" aria-controls="nav-dynamic" aria-selected="false">Temporal properties</a>
      <a class="nav-item nav-link active" id="nav-open-tab" data-toggle="tab" href="#nav-open" role="tab" aria-controls="nav-open" aria-selected="true">Up/down-stream paths</a>
      {% elif tab == 'dynamic' %}
      <a class="nav-item nav-link" id="nav-static-tab" data-toggle="tab" href="#nav-static" role="tab" aria-controls="nav-static" aria-selected="false">Source-target paths</a>
      <a class="nav-item nav-link" id="nav-intervention-tab" data-toggle="tab" href="#nav-intervention" role="tab" aria-controls="nav-intervention" aria-selected="false">Source-target dynamics</a>
      <a class="nav-item nav-link active" id="nav-dynamic-tab" data-toggle="tab" href="#nav-dynamic" role="tab" aria-controls="nav-dynamic" aria-selected="true">Temporal properties</a>
      <a class="nav-item nav-link" id="nav-open-tab" data-toggle="tab" href="#nav-open" role="tab" aria-controls="nav-open" aria-selected="false">Up/down-stream paths</a>
      {% elif tab == 'intervention' %}
      <a class="nav-item nav-link" id="nav-static-tab" data-toggle="tab" href="#nav-static" role="tab" aria-controls="nav-static" aria-selected="false">Source-target paths</a>
      <a class="nav-item nav-link active" id="nav-intervention-tab" data-toggle="tab" href="#nav-intervention" role="tab" aria-controls="nav-intervention" aria-selected="true">Source-target dynamics</a>
      <a class="nav-item nav-link" id="nav-dynamic-tab" data-toggle="tab" href="#nav-dynamic" role="tab" aria-controls="nav-dynamic" aria-selected="false">Temporal properties</a>
      <a class="nav-item nav-link" id="nav-open-tab" data-toggle="tab" href="#nav-open" role="tab" aria-controls="nav-open" aria-selected="false">Up/down-stream paths</a>
      {% endif %}     
    </div>
  </nav>
</div>
<div class="tab-content" id="nav-tabContent">
  {% if tab == 'static' %}
  <div class="tab-pane fade show active" id="nav-static" role="tabpanel" aria-labelledby="nav-static-tab">
  {% else %}
  <div class="tab-pane" id="nav-static" role="tabpanel" aria-labelledby="nav-static-tab">
  {% endif %}

  {{ static_tab(model_data, stmt_types, immediate_query_result, subscribed_results, immediate_table_headers, subscribed_headers, 'static') }}

  </div>
  {% if tab == 'intervention' %}
  <div class="tab-pane fade show active" id="nav-intervention" role="tabpanel" aria-labelledby="nav-intervention-tab">
  {% else %}
  <div class="tab-pane" id="nav-intervention" role="tabpanel" aria-labelledby="nav-intervention-tab">
  {% endif %}

  {{ static_tab(model_data, stmt_types, immediate_query_result, subscribed_results, immediate_table_headers, subscribed_headers, 'intervention') }}

  </div>
  {% if tab == 'dynamic' %}
  <div class="tab-pane fade show active" id="nav-dynamic" role="tabpanel" aria-labelledby="nav-dynamic-tab">
  {% else %}
  <div class="tab-pane fade" id="nav-dynamic" role="tabpanel" aria-labelledby="nav-dynamic-tab">
  {% endif %}

  {{ dynamic_tab(model_data, immediate_dynamic_results, subscribed_dynamic_results, dynamic_immediate_headers, subscribed_dynamic_headers) }}
  
  </div>
  {% if tab == 'open' %}
  <div class="tab-pane fade show active" id="nav-open" role="tabpanel" aria-labelledby="nav-open-tab">
  {% else %}
  <div class="tab-pane" id="nav-open" role="tabpanel" aria-labelledby="nav-open-tab">
  {% endif %}

  {{ open_tab(model_data, stmt_types, ns_groups, open_immediate_results, subscribed_open_results, open_immediate_headers, subscribed_open_headers) }}

</div>

{% endblock %}

